In [0]:
!ls

sample_data

In [0]:
!git clone https://github.com/aniforverizon/nitte_data

Cloning into 'nitte_data'...
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (4/4), done.
Unpacking objects: 100% (5/5), done.
remote: Total 5 (delta 0), reused 5 (delta 0), pack-reused 0

In [0]:
!ls

nitte_data  sample_data

In [0]:
!cd nitte_data

In [0]:
!ls

nitte_data  sample_data

In [0]:
import numpy as np

In [0]:
import pandas as pd

In [0]:
labels=['a','b','c']
mylist=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [0]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

In [0]:
pd.Series(data=mylist,index=labels)

a    10
b    20
c    30
dtype: int64

In [0]:
pd.Series(mylist,labels)

a    10
b    20
c    30
dtype: int64

In [0]:
arr

array([10, 20, 30])

In [0]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [0]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [0]:
d

{'a': 10, 'b': 20, 'c': 30}

In [0]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [0]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [0]:
ser1=pd.Series([1,2,3,4],index=['USA','INDIA','CHINA','JAPAN'])

In [0]:
ser2=pd.Series([1,2,3,4],index=['USA','INDIA','ITALY','JAPAN'])

In [0]:
ser1

USA      1
INDIA    2
CHINA    3
JAPAN    4
dtype: int64

In [0]:
ser1['USA']

1

In [0]:
ser1+ser2 ###if same value or else nan

CHINA    NaN
INDIA    4.0
ITALY    NaN
JAPAN    8.0
USA      2.0
dtype: float64

In [0]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [0]:
from numpy.random import randn
np.random.seed(101)

In [0]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [0]:
df['Y']  ###gives particular coloumn value

A   -0.162535
B   -0.855196
C   -0.568581
D   -0.391157
E    0.720788
Name: Y, dtype: float64

In [0]:
df['W']

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [0]:
df[['W','Z']]

          W         Z
A -1.467514  0.485809
B  0.392489  1.541990
C  0.666319  1.407338
D  0.641806  1.028293
E -1.972605 -1.223082

In [0]:
df.W

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [0]:
type(df['W'])

pandas.core.series.Series

In [0]:
###new coloumn created
df['new']=df['W']+df['Z']

In [0]:
df

          W         X         Y         Z       new
A -1.467514 -0.494095 -0.162535  0.485809 -0.981705
B  0.392489  0.221491 -0.855196  1.541990  1.934479
C  0.666319 -0.538235 -0.568581  1.407338  2.073658
D  0.641806 -0.905100 -0.391157  1.028293  1.670099
E -1.972605 -0.866885  0.720788 -1.223082 -3.195687

In [0]:
###drop a coloumn
df.drop('new',axis=1)   ###axis=1 is y axis

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [0]:
df  ###but in df new is there it will be there i n dataframe

          W         X         Y         Z       new
A -1.467514 -0.494095 -0.162535  0.485809 -0.981705
B  0.392489  0.221491 -0.855196  1.541990  1.934479
C  0.666319 -0.538235 -0.568581  1.407338  2.073658
D  0.641806 -0.905100 -0.391157  1.028293  1.670099
E -1.972605 -0.866885  0.720788 -1.223082 -3.195687

In [0]:
df.drop('new',axis=1,inplace=True)

In [0]:
df  ###removed from dataframe

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [0]:
df.drop('E',axis=0)

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293

In [0]:
df  ###here also e is not removed in dataframe

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [0]:
df.loc['A']

W    1.606780
X   -1.115710
Y   -1.385379
Z   -1.329660
Name: A, dtype: float64

In [0]:
df.iloc[2]

W   -0.804652
X    0.253548
Y    0.649148
Z    0.358941
Name: C, dtype: float64

In [0]:
df.loc['B','Y']

-0.8551960407780934

In [0]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -1.467514 -0.162535
B  0.392489 -0.855196

In [0]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [0]:
df>0  ###checks the actual value and output is boolean

       W      X      Y      Z
A   True  False  False  False
B   True  False  False   True
C  False   True   True   True
D  False   True   True   True
E   True  False   True  False

In [0]:
df[df>0]   ###nan for false value

         W         X         Y         Z
A  1.60678       NaN       NaN       NaN
B  0.04146       NaN       NaN  0.110477
C      NaN  0.253548  0.649148  0.358941
D      NaN  0.902398  0.161781  0.833029
E  0.97572       NaN  0.783316       NaN

In [0]:
df[df['W']>0]

         W         X         Y         Z
A  1.60678 -1.115710 -1.385379 -1.329660
B  0.04146 -0.411055 -0.771329  0.110477
E  0.97572 -0.388239  0.783316 -0.708954

In [0]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [0]:
df[df['W']>0]['Y']

A   -1.385379
B   -0.771329
E    0.783316
Name: Y, dtype: float64

In [0]:
df[df['W']>0][['Y','X']]

          Y         X
A -1.385379 -1.115710
B -0.771329 -0.411055
E  0.783316 -0.388239

In [0]:
df[(df['W']>0) & (df['Y']>0)  ]

         W         X         Y         Z
E  0.97572 -0.388239  0.783316 -0.708954

In [0]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [0]:
df.reset_index()

  index         W         X         Y         Z
0     A  1.606780 -1.115710 -1.385379 -1.329660
1     B  0.041460 -0.411055 -0.771329  0.110477
2     C -0.804652  0.253548  0.649148  0.358941
3     D -1.080471  0.902398  0.161781  0.833029
4     E  0.975720 -0.388239  0.783316 -0.708954

In [0]:
newind='CA NY WY OR CO'.split()

In [0]:
df['States']=newind

In [0]:
df

          W         X         Y         Z States
A  1.606780 -1.115710 -1.385379 -1.329660     CA
B  0.041460 -0.411055 -0.771329  0.110477     NY
C -0.804652  0.253548  0.649148  0.358941     WY
D -1.080471  0.902398  0.161781  0.833029     OR
E  0.975720 -0.388239  0.783316 -0.708954     CO

In [0]:
df.set_index('States')

               W         X         Y         Z
States
CA      1.606780 -1.115710 -1.385379 -1.329660
NY      0.041460 -0.411055 -0.771329  0.110477
WY     -0.804652  0.253548  0.649148  0.358941
OR     -1.080471  0.902398  0.161781  0.833029
CO      0.975720 -0.388239  0.783316 -0.708954

In [0]:
df=pd.DataFrame({
    'A':[1,2,np.nan],
        'B':[1,np.nan,np.nan],
           'C':[7,8,9],
})

In [0]:
df

     A    B  C
0  1.0  1.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [0]:
df.dropna()

     A    B  C
0  1.0  1.0  7

In [0]:
df.dropna(axis=1)

   C
0  7
1  8
2  9

In [0]:
df

     A    B  C
0  1.0  1.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [0]:
df.fillna(value="Empty")

       A      B  C
0      1      1  7
1      2  Empty  8
2  Empty  Empty  9

In [0]:
df['A'].fillna(value=df['A'].mean())  ###fill empty with mean values

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64